.container {
    background-color: white;
    height: 100vh;
    /* Ensure the height fills the viewport */
    width: 35%;
    margin: auto;
    border-radius: 15px;
    border: 8px solid black;
    display: flex;
    /* Use flex to align items within container */
    flex-direction: column;
    /* justify-content: space-between; */
    /* Space out elements vertically */
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    /* Only if content overflows container height */

    /* border: 2px solid red */
}

a button {
    height: 96px;
    width: 96px;
    background-color: black;
    color: white;
    padding: 0;
    border: none;
    border-radius: 5px;
    font-size: 12px;

}

a button:hover {
    background-color: rgb(56, 55, 55);
    cursor: pointer;
}

/* Adjusted .bottom-container with fixed height */
.bottom-container {
    background-color: black;
    width: 100%;
    height: 60px;
    /* Fixed height to prevent extra spacing */
    display: flex;
    justify-content: space-around;
    /* Space buttons evenly horizontally */
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px 0;
    /* Add padding for spacing within */

    margin-top: auto;
}

.form_class {
    display: flex;
    justify-content: center;
    width: 80%;
    border: 2px solid black;
    border-radius: 15px;
    margin-left: 10%;
    margin-right: 10%;
}

.form {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.form p {
    margin-bottom: 5px;
    font-weight: bold;
}

.text_form {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    background-color: #04a0d4;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.form button:hover {
    background-color: #007187;
}

#calorieResult {
    margin-top: 15px;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}