.container {
    background-color: white;
    height: 100vh;
    /* Ensure the height fills the viewport */
    width: 35%;
    margin: auto;
    border-radius: 15px;
    border: 8px solid black;
    display: flex;
    /* Use flex to align items within container */
    flex-direction: column;
    justify-content: space-between;
    /* Space out elements vertically */
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    /* Only if content overflows container height */
}

a button {
    height: 96px;
    width: 96px;
    background-color: black;
    color: white;
    padding: 0;
    border: none;
}

/* Adjusted .bottom-container with fixed height */
.bottom-container {
    background-color: black;
    width: 100%;
    height: 60px;
    /* Fixed height to prevent extra spacing */
    display: flex;
    justify-content: space-around;
    /* Space buttons evenly horizontally */
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px 0;
    /* Add padding for spacing within */
}


ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    margin-right: 10%;
    margin-bottom: 10%;

    li {
        display: flex;
        margin: 3px;
        flex-flow: column;
        border-radius: 0.2rem;
        padding: 1rem;
        font-size: 12px;
        box-sizing: border-box;
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        border-radius: 10px;
    }
}

#but {
    height: 130%;
    width: 120%;
    font-size: 15px;
    text-decoration: none;
    background-color: black;
    border-radius: 5px;
    margin-bottom: 20px;
}

#but:hover {
    background-color: rgb(56, 55, 55);
    cursor: pointer;
}

button {
    height: 110%;
    font-size: 12px;
    text-decoration: none;
    background-color: black;
    border-radius: 5px;
    color: white;
}

button:hover {
    background-color: rgb(56, 55, 55);
    cursor: pointer;
}
.nav_but {
    height: 50px;
    width: 50px;
}

.nav_but_more {
    height: 25px;
    width: 50px;
}